extends base

block content
    form(method="POST", enctype="multipart/form-data")
        div.mb-3
            label(for="avatar").form-label Avatar
            input(type="file", id="avatar", name="avatar", accept="image/*").form-control
        div.mb-3
            input(placeholder="Name", name="name", type="text", required, value=loggedInUser.name).form-control
        div.mb-3
            input(placeholder="Email", name="email", type="email", required, value=loggedInUser.email).form-control
        div.mb-3
            input(placeholder="Username", name="username", type="text", required, value=loggedInUser.username).form-control
        div.mb-3
            input(placeholder="Location", name="location", type="text", required, value=loggedInUser.location).form-control
        div.d-flex.justify-content-end
            input(type="submit", value="수정").btn.btn-primary
        if !loggedInUser.socialOnly
            div.edit-profile__password
                a(href="change-password") Change Password &rarr;
