extends base

block content
  .row.justify-content-center
    .col-md-6
      .card
        .card-body
          form(method="POST")
            div.mb-3
              label(for="title").form-label 제목
              input(id="title" name="title" placeholder="Video Title" value=video.title, required).form-control
            div.mb-3
              label(for="description").form-label 설명
              input(placeholder="동영상 설명" required="required" type="text" id="description" name="description" minlength=5 value=video.description).form-control
            div.mb-3
              label(for="hashtags").form-label 해쉬태그
              input(placeholder="게임, 위튜브, 영상" required type="text" id="hashtags" name="hashtags" value=video.hashtags.join()).form-control
            div.d-flex.justify-content-end
              input(type="submit", value="수정").btn.btn-primary
