extends base

block content
  .row.justify-content-center
    .card.col-md-6
      .card-body
        form(method="POST")
          div.mb-3
            label(for="username").form-label 아이디
            input(placeholder="Username", id="username", name="username", type="text", required).form-control
          div.mb-3
            label(for="Password").form-label 비밀번호
            input(placeholder="Password", name="password", type="password", required).form-control
          div.d-flex.justify-content-end
            input(type="submit", value="로그인").btn.btn-primary
        include partials/social-login
        div.text-end
          a(href="/join").link-primary 회원가입 &rarr;
