extends base

block content
  div.row
    .col-md-6
      .card
        .card-header 동영상 녹화 프로그램
        .card-body
          video#preview.w-100.mb-2
          div.text-center
            button#actionBtn.btn.btn-primary 녹화 시작
    .col-md-6
      .card
        .card-body
          form(method="POST", enctype="multipart/form-data")
            div.mb-3
              label(for="video").form-label 동영상
              input(type="file", accept="video/*", required, id="video", name="video").form-control
            div.mb-3
              label(for="thumb").form-label 썸네일
              input(type="file", accept="image/*", required, id="thumb", name="thumb").form-control
            div.mb-3
              label(for="title").form-label 제목
              input(placeholder="동영상 제목", required, type="text", id="title", name="title", maxlength=80).form-control
            div.mb-3
              label(for="description").form-label 설명
              input(placeholder="동영상 설명", required, type="text", id="description", name="description", minlength=5).form-control
            div.mb-3
              label(for="hashtags").form-label 해쉬태그
              input(placeholder="게임, 위튜브, 영상", required, type="text", id="hashtags", name="hashtags").form-control
            div.d-flex.justify-content-end
              input(type="submit", value="업로드").btn.btn-primary

block scripts
  script(src="/static/js/recorder.js")
