extends ../base
include ../mixins/video

block content
  .text-center.mb-3
    img(src=user.avatarUrl)#avatar-img.rounded-circle
  .row
    h3.text-center=user.name
  div.row.row-cols-1.row-cols-md-3.g-4
    each video in user.videos
      +video(video)
    else
      span.empty__message 비디오가 없습니다.
